{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}

<div class="ui form segment">
  <form method="post" class="ui form">
    <div class="three fields">
      <div class="field">
        <label>Criterium</label>
          <div
            class="ui selection dropdown search remotedropdown"
            data-url="{{ header.rootpath }}/view/dropdown/rule/criteria"
            data-itemtype="{{ data.model }}"
          >
            <input type="hidden" id="criteriaxx" name="criteria" value="">
            <i class="dropdown icon"></i>
            <div class="default text"></div>
            <div class="menu"></div>
          </div>
      </div>

      <div class="field">
        <label>Condition</label>
        <div
          class="ui selection dropdown search remotedropdownrulecondition"
          data-url="{{ header.rootpath }}/view/dropdown/rule/criteria/condition"
          data-itemtype="{{ data.model }}"
          data-definitionname=""
          id="conditiondiv"
        >
          <input type="hidden" id="conditionxx" name="condition" value="">
          <i class="dropdown icon"></i>
          <div class="default text"></div>
          <div class="menu"></div>
        </div>
      </div>

      <div class="field">
        <label>Condition</label>
        <span id="pattern">
        </span>
      </div>

    </div>
    <button id="submitbutton" class="ui primary disabled button" type="submit">Save</button>
  </form>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#criteriaxx').on("change", function() {
      $('#conditiondiv').attr('data-definitionname', $(this).val());
    });
    $('#conditionxx').on("change", function() {
      switch ($(this).val()) {
        case '0':
        case '1':
        case '8':
        case '9':
        case '11':
        case '12':
        case '30':
          // dropdowns
          $('#pattern').replaceWith( '<div' +
          ' class="ui selection dropdown search remotedropdownrulepattern"' +
          ' data-url="{{ header.rootpath }}/view/dropdown/rule/criteria/pattern"' +
          ' data-itemtype=""' +
          ' data-definitionname=""' +
          ' data-condition="' + $(this).val() + '"' +
          ' id="patterndiv"' +
          '>' +
          ' <input type="hidden" id="patternxx" name="pattern" value="0">' +
          ' <i class="dropdown icon"></i>' +
          ' <div class="default text"></div>' +
          ' <div class="menu"></div>' +
          '</div>' );
          $('#patterndiv').attr('data-itemtype', $('#conditiondiv').attr('data-itemtype'));
          $('#patterndiv').attr('data-definitionname', $('#conditiondiv').attr('data-definitionname'));
          $('.remotedropdownrulepattern')
            .dropdown({
              saveRemoteData: false,
              preserveHTML : false,
              apiSettings: {
                encodeParameters: false,
                cache: false,
                url: '{url}?q={query}&itemtype={itemtype}&definitionname={definitionname}&condition={condition}',
              }
            });
          break;
        default:
          // others
          $('#pattern').replaceWith( '<input type="text" id="patternxx" name="pattern" value="">' );
      }
      $('#submitbutton').removeClass('disabled');
    });
  });
</script>
{{ include('footer.html.twig') }}
