<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ rootpath }}/assets/fomantic-ui/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="{{ rootpath }}/assets/main.css">
  <link rel="stylesheet" href="{{ rootpath }}/assets/toast-ui/toastui-editor.min.css" />  <script type="text/javascript" src="{{ rootpath }}/assets/fomantic-ui/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" src="{{ rootpath }}/assets/fomantic-ui/semantic.min.js"></script>
  <script type="text/javascript" src="{{ rootpath }}/assets/fomantic-ui/jquery.tablesort.min.js"></script>
  <script src="{{ rootpath }}/assets/toast-ui/toastui-editor-all.min.js"></script>
  <title>{{ title }}</title>
</head>
<body>
  <div class="ui container" style="height: 100%">
    <div class="ui middle aligned center aligned grid" style="height: 100%">
      <div class="column">
        <div class="ui placeholder segment" style="background-color: white;">
          <img src="{{ rootpath }}/assets/img/error_401.jpg" width="800" height="600" style="margin-left: auto; margin-right: auto;">
          <span class="ui blue big text">{{ message }}</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
