<div class="{% if item.required %}required {% endif %}field">
  {% if item.type != 'boolean' %}
    <label data-cy="form-field-{{ item.name }}-label">{{ item.title|raw }}</label>
  {% endif %}
  {% if item.type == 'input' %}
    {% if item.readonly %}
      <div class="ui transparent input">
        <input data-cy="form-field-{{ item.name }}" type="text" readonly value="{{ item.value }}">
      </div>
    {% else %}
      <input data-cy="form-field-{{ item.name }}" type="text" name="{{ item.name }}" value="{{ item.value }}"{% if item.required %} required{% endif %}>
    {% endif %}
  {% endif %}

  {% if item.type == 'inputpassword' %}
    <input data-cy="form-field-{{ item.name }}" type="password" name="{{ item.name }}" {% if item.readonly %}readonly{% endif %} value="{{ item.value }}"{% if item.required %} required{% endif %}>
  {% endif %}

  {% if item.type == 'dropdown' %}
    {% if item.readonly %}
      {% for key, val in item.values %}
        {% if key == item.value %}
          <div data-cy="form-field-{{ item.name }}" class="item {{ val.class }}" data-value="{{ key }}">
            {% if val.icon is defined %}
              {% if val.icon != '' %}
                <i class="{{ val.color }} {{ val.icon }} icon"></i>
              {% endif %}
            {% endif %}
            <span>{{ val.title }}</span>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <div data-cy="form-field-{{ item.name }}" class="ui search selection dropdown">
        <input type="hidden" name="{{ item.name }}" {% if item.readonly %}readonly{% endif %} value="{{ item.value }}"{% if item.required %} required{% endif %}>
        <i class="dropdown icon"></i>
        <div class="default text">Select value...</div>
        <div class="menu">
          {% for key, val in item.values %}
          <div class="item {{ val.class }}" data-value="{{ key }}">
              {% if val.icon is defined %}
                {% if val.icon != '' %}
                  <i class="{{ val.color }} {{ val.icon }} icon"></i>
                {% endif %}
              {% endif %}
              <span>{{ val.title }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if item.type == 'dropdown_remote' %}
    {% if item.readonly %}
      {% if item.value > 0 %}
        <div class="text">{{ item.valuename }}</div>
      {% endif %}
    {% else %}
      <div
        class="ui {% if item.multiple %}multiple {% endif %}selection dropdown search remotedropdown"
        data-url="{{ basePath }}/view/dropdown"
        data-itemtype="{{ item.itemtype }}"
        data-cy="form-field-{{ item.name }}"
      >
        <input type="hidden" name="{{ item.name }}" {% if item.readonly %}readonly{% endif %} value="{{ item.value }}"{% if item.required %} required{% endif %}>
        <i class="dropdown icon"></i>
        {% if item.value == 0 %}
          <div class="default text">{{ translation.selectvalue }}</div>
        {% else %}
          <div class="text">{{ item.valuename }}</div>
        {% endif %}
        <div class="menu">
          {% if item.multiple %}
            {% if item.value != '' %}
              {% for i in 0..item.value|split(',')|length %}
                <div class="item" data-value="{{ item.value|split(',')[i] }}">{{ item.valuename|split(',')[i] }}</div>
              {% endfor %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if item.type == 'textarea' %}
    <div id="editor{{ item.name }}"></div>
    <textarea data-cy="form-field-{{ item.name }}" rows="3" name="{{ item.name }}" {% if item.readonly %}readonly{% endif %} style="display: none">{{ item.value }}</textarea>
<script type="text/javascript">
editor{{ item.name }} = new Editor({
  el: document.querySelector('#editor{{ item.name }}'),
  previewStyle: 'vertical',
  initialEditType: 'wysiwyg',
  usageStatistics: false,
  initialValue: document.querySelector("[name='{{ item.name }}']").innerText,
  autofocus: false,
  events: {
    blur: () => {
      document.querySelector(`textarea[name='{{ item.name }}']`).value = editor{{ item.name }}.getMarkdown();
    },
  },
});
</script>
  {% endif %}

  {% if item.type == 'boolean' %}
    <div data-cy="form-field-{{ item.name }}" class="ui toggle {% if item.readonly %}read-only{% endif %} checkbox">
      <input type="hidden" name="{{ item.name }}" value="off">
      <input type="checkbox" name="{{ item.name }}" {% if item.value %}checked{% endif %}>
      <label>{{ item.title }}</label>
    </div>

    {# {% if item.readonly %}
      {% if item.value == 1 %}{{ translation.yes }}{% endif %}
      {% if item.value == 0 %}{{ translation.no }}{% endif %}
    {% else %}
      <select name="{{ item.name }}">
        <option {% if item.value == 1 %}selected="selected"{% endif %} value="1">{{ translation.yes }}</option>
        <option {% if item.value == 0 %}selected="selected"{% endif %} value="0">{{ translation.no }}</option>
      </select>
    {% endif %} #}
  {% endif %}

  {% if item.type == 'date' %}
    {% if item.readonly %}
      <div class="ui transparent input">
        <input data-cy="form-field-{{ item.name }}" type="text" readonly value="{{ item.value }}">
      </div>
    {% else %}
      <input data-cy="form-field-{{ item.name }}" type="date" name="{{ item.name }}" value="{{ item.value }}"{% if item.required %} required{% endif %}>
    {% endif %}
  {% endif %}

  {% if item.type == 'email' %}
    <input data-cy="form-field-{{ item.name }}" type="email" name="{{ item.name }}" {% if item.readonly %}readonly"{% endif %} value="{{ item.value }}"{% if item.required %} required{% endif %}>
  {% endif %}

  {% if item.type == 'datetime' %}
    {% if item.readonly %}
      <div class="ui transparent input">
        <input data-cy="form-field-{{ item.name }}" type="text" readonly value="{{ item.value }}">
      </div>
    {% else %}
      <input data-cy="form-field-{{ item.name }}" type="text" name="{{ item.name }}" value="{{ item.value }}"{% if item.required %} required{% endif %}>
    {% endif %}
  {% endif %}
</div>