{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}

<form method="post" class="ui form" id="myform">
  <div class="ui internally celled grid">
    <div class="row">
      <div class="height wide column">
        {% for item in data.fields %}
          {% if item.name != 'comment' and item.display %}
            {{ include('fields.html.twig') }}
          {% endif %}
        {% endfor %}
      </div>
      <div class="height wide column">
        {# infos top #}
        {% if information.top|length > 0 %}
          <div class="ui form blue segment">
            <div class="field">
              <label style="text-transform: uppercase;">
                <span class="ui blue text">Information</span>
              </label>
              {% for item_top in information.top %}
                <p>
                  {% if item_top.button is iterable %}
                    <a href="{{ item_top.link }}" class="ui {{ item_top.button.color }} labeled icon button">
                      <i class="{{ item_top.button.icon }} icon"></i>
                      <span>{{ item_top.value }}</span>
                    </a>
                  {% else %}
                    {% if item_top.key == 'labelfusioninventoried' %}
                      <div class="ui green label">
                        <i class="running icon"></i>
                        <span>{{ item_top.value }}</span>
                      </div>
                    {% else %}
                      {{ item_top.value }}
                      {% if item_top.link != null %}
                        <a href="{{ item_top.link }}"><i class="external alternate icon"></i></a>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </p>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% for item in data.fields %}
          {% if item.name == 'comment' %}
            {{ include('fields.html.twig') }}
          {% endif %}
        {% endfor %}

        {# infos bottom #}
        {% if information.bottom|length > 0 %}
          <div class="ui form blue segment">
            <div class="field">
              <label style="text-transform: uppercase;">
                <span class="ui blue text">
                  Information
                </span>
              </label>
              {% for item_bottom in information.bottom %}
                <p>
                  {% if item_bottom.button is iterable %}
                    <a href="{{ item_bottom.link }}" class="ui {{ item_bottom.button.color }} labeled icon button">
                      <i class="{{ item_bottom.button.icon }} icon"></i>
                      {{ item_bottom.value }}
                    </a>
                  {% else %}
                    {{ item_bottom.value }}
                    {% if item_bottom.link != null %}
                      <a href="{{ item_bottom.link }}"><i class="external alternate icon"></i></a>
                    {% endif %}
                  {% endif %}
                </p>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% for key, val in data.csrf %}
    <input type="hidden" name="{{ key }}" value="{{ val }}">
  {% endfor %}
</form>

{{ include('footer.html.twig') }}
