<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ header.rootpath }}/assets/fomantic-ui/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="{{ header.rootpath }}/assets/main.css">
  <link rel="stylesheet" href="{{ header.rootpath }}/assets/toast-ui/toastui-editor.min.css" />  <script type="text/javascript" src="{{ header.rootpath }}/assets/fomantic-ui/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" src="{{ header.rootpath }}/assets/fomantic-ui/semantic.min.js"></script>
  <script type="text/javascript" src="{{ header.rootpath }}/assets/fomantic-ui/jquery.tablesort.min.js"></script>
  <script src="{{ header.rootpath }}/assets/toast-ui/toastui-editor-all.min.js"></script>
  <title>{{ header.title }}</title>
</head>
<body>
  
  <div class="ui grid">
    <div class="three wide left attached column">
      <div class="ui left vertical visible menu" style="border-radius: unset;width: 300px;border-top: unset;">
        <div class="item">
          <img class="ui small centered image" src="{{ basePath }}/assets/img/logo_gsit.png">
        </div>
        <div class="item">
          {{ header.username }}
          <a href="{{ basePath }}/view/logout" style="float: right">
            <i class="sign out alternate large icon"></i>
          </a>
        </div>
        <div class="item">
          <div class="ui internally celled grid">
            <div class="row">
              <div class="three wide column" style="padding: unset;margin-top: 10px;">
                <button class="ui button icon basic" id="darkmode" type="button">
                  <i class="moon icon"></i>
                </button>
              </div>
              <div class="thirteen wide column">
                <a class="ui large label" id="headerChangeEntity">
                  <i class="exchange alternate icon"></i>
                  Entity | {{ header.entityname }}
                </a>
                <div style="display: none" id="headerEntityForm">
                  <form action="{{ basePath }}/view/changeprofileentity" method="post" class="ui form">
                    {% for item in header.profile %}
                      {{ include('fields.html.twig') }}
                    {% endfor %}
                    <input type="hidden" name="redirectURL" value="{{ current_url() }}">
                    <button class="ui primary button" type="submit" id="headerChangeButton">Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      {# <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search icon"></i>
        </div>
      </div> #}
      {% for item in header.menu %}
        <div class="item">
          <div class="header">
            {{ item.name }}
            <i class="{{ item.icon }} icon"></i>
          </div>
          <div class="menu">
            {% for subitem in item.sub %}
              {% if subitem.display %}
                <a class="item {{ subitem.class }}" href="{{ subitem.link }}">
                  {{ subitem.name }}
                  <i class="{{ subitem.icon }} icon"></i>
                </a>
              {% endif %}
            {% endfor %}

            {% set displayMore = false %}
            {% for moreitem in item.more %}
              {% if moreitem.display %}
                {% set displayMore = true %}
              {% endif %}
            {% endfor %}

            {% if item.more|length > 0 and displayMore %}
              <div class="ui dropdown item">
                More
                <i class="dropdown icon"></i>
                <div class="menu">
                  {% for moreitem in item.more %}
                    {% if moreitem.display %}
                      <a class="item {{ moreitem.class }}" href="{{ moreitem.link }}">
                        <i class="{{ moreitem.icon }} icon"></i>
                        {{ moreitem.name }}
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
            {% set displayMore = false %}
            {% for moreitem in item.dropdown %}
              {% if moreitem.display %}
                {% set displayMore = true %}
              {% endif %}
            {% endfor %}

            {% if item.dropdown|length > 0 and displayMore %}
              <div class="ui dropdown item">
                Dropdown
                <i class="dropdown icon"></i>
                <div class="menu">
                  {% for moreitem in item.dropdown %}
                    {% if moreitem.display %}
                      <a class="item {{ moreitem.class }}" href="{{ moreitem.link }}">
                        <i class="{{ moreitem.icon }} icon"></i>
                        {{ moreitem.name }}
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
            {% set displayMore = false %}
            {% for moreitem in item.component %}
              {% if moreitem.display %}
                {% set displayMore = true %}
              {% endif %}
            {% endfor %}

            {% if item.component|length > 0 and displayMore %}
              <div class="ui dropdown item">
                Component
                <i class="dropdown icon"></i>
                <div class="menu">
                  {% for moreitem in item.component %}
                    {% if moreitem.display %}
                    <a class="item {{ moreitem.class }}" href="{{ moreitem.link }}">
                        <i class="{{ moreitem.icon }} icon"></i>
                        {{ moreitem.name }}
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="twelve wide right attached column">

    {# <!-- <div class="ui resizable scrolling wide long container" style="margin: 40px; margin-left: 300px !important"> -->
    <div class="overflowing pusher" style="margin: 20px;"> #}
    