<div data-cy="form-header-id" class="ui pageheader">
  <div style="height: 1px"></div>
  <div class="ui {{ header.color }} dividing header">
    <div style="display: flex; justify-content: space-between;">
      <div>
        <i class="big {{ header.icon }} icon"></i>
        <div class="content">
          <span data-cy="form-header-name">{{ header.name }}</span>
          |
          {% if header.id > 0 %}
            <span>id </span><i data-cy="form-header-id">{{ header.id }}</i>
            {% if data.fields is defined %}
              {% for item in data.fields %}
                {% if item.name == 'status' %}
                  |
                  <span data-cy="form-header-status" class="ui {{ item.values[item.value].color }} text">
                    <i class="{{ item.values[item.value].icon }} icon"></i>
                    <span data-cy="form-header-status-value">{{ item.values[item.value].title }}</span>
                  </span>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% else %}
            <span>New</span>
          {% endif %}
          <div data-cy="form-header-title" class="sub header">{{ data.title }}</div>
        </div>
      </div>
      {% if header.id > 0 %}
        <span style="float: right;">
          <a data-cy="form-button-new" href="{{ basePath }}/view/{{ header.route }}/new">
            <button class="ui labeled icon button" type="button">
              <i class="plus icon"></i>
              <span>{{ translation.newbutton }}</span>
            </button>
          </a>
          {% if not header.trashed %}
            <button
              class="ui labeled icon primary button"
              type="submit"
              form="myform"
              data-cy="form-button-save"
            >
              <i class="save icon"></i>
              <span>{{ translation.savebutton }}</span>
            </button>
          {% endif %}
          {% if header.id > 0 %}
            {% if header.trashed %}
              <a data-cy="form-button-restore" href="{{ basePath }}/view/{{ header.route }}/{{ header.id }}/restore">
                <button class="ui labeled icon green button" type="button">
                  <i class="trash restore icon"></i>
                  <span>Restore</span>
                </button>
              </a>
              <a data-cy="form-button-delete" href="{{ basePath }}/view/{{ header.route }}/{{ header.id }}/delete">
                <button class="ui labeled icon red button" type="button">
                  <i class="eraser icon"></i>
                  <span>Delete</span>
                </button>
              </a>
            {% else %}
              <a data-cy="form-button-softdelete" href="{{ basePath }}/view/{{ header.route }}/{{ header.id }}/delete">
                <button class="ui labeled icon basic red  button" type="button">
                  <i class="trash icon"></i>
                  <span>Soft delete</span>
                </button>
              </a>
            {% endif %}
          {% endif %}
        </span>
        {% else %}
        <span style="float: right;">
          <button
            class="ui labeled icon primary button"
            name="save"
            value="new"
            type="submit"
            form="myform"
            data-cy="form-button-save-new"
          >
            <i class="save icon"></i>
            <span>{{ translation.newbutton }}</span>
          </button>
          <button
            class="ui labeled icon primary button"
            name="save"
            value="view"
            type="submit"
            form="myform"
            data-cy="form-button-save-viewid"
          >
            <i class="save icon"></i><span>Voir</span>
          </button>
        </span>
      {% endif %}
    </div>
  </div>
</div>
{% if relatedPages|length > 0 %}
  <div data-cy="form-relatedpages" class="ui wrapped labeled icon wrapping menu related">
    {% for item in relatedPages %}
      {% if item.link != '' %}
        <a class="item" href="{{ item.link }}">
          <i class="icon {% if get_uri() == item.link %}orange{% else %}{% if header.trashed %}red{% else %}blue{% endif %}{% endif %} {{ item.icon }}"></i>
          <span class="ui {% if get_uri() == item.link %}orange{% else %}{% if header.trashed %}red{% else %}blue{% endif %}{% endif %} {{ item.icon }} text">{{ item.title }}</span>
          <!-- <div class="floating ui blue label">22</div> -->
        </a>
      {% else %}
        <a class="item" href="{{ item.link }}">
          <i class="icon {% if get_uri() == item.link %}orange{% else %}grey{% endif %} {{ item.icon }}"></i>
          <span class="ui {% if get_uri() == item.link %}orange{% else %}grey{% endif %} {{ item.icon }} text">{{ item.title }}</span>
          <!-- <div class="floating ui blue label">22</div> -->
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
