{{ include('header.html.twig') }}

<div class="ui pageheader">
  <div style="height: 1px"></div>
  <div class="ui blue dividing header">
    <div style="display: flex; justify-content: space-between">
      <div>
        <i class="big {{ header.icon }} icon"></i>
        <div class="content">
          <span>{{ header.title }}</span>
          <div class="sub header">{{ data.fields.paging.total }} items</div>
        </div>
      </div>
      <span style="float: right;" data-cy='home-tech-switchtotech'>
        <form action="{{ basePath }}/view/home/switch" method="post" class="ui form">
          <button class="ui labeled icon button" type="submit">
            <i class="random icon"></i>
            <span>Homepage user</span>
          </button>
        </form>
      </span>
    </div>
  </div>
</div>

<div class="ui">
  <br>
  <div class="ui stackable cards">
    {% for mycard in data.mytest %}
      <div class="ui {{ mycard.color }} card" style="width: 470px;" data-cy="home-tech-card-{{ mycard.header.name}}">
        <div class="content" style="height: 68px;max-height: 68px;">
          <div class="header" style="text-transform: uppercase;">
            <span class="ui {{ mycard.color }} text">
              {% if mycard.header.icon is defined %}
                <i class="{{ mycard.header.icon }} icon"></i>
              {% endif %}
              <span>{{ mycard.header.title }}</span>
            </span>
          </div>
          <div class="meta">
            {{ mycard.header.subtitle }}
          </div>      
        </div>
        <div class="content" style="min-height: 140px;">
          {% if mycard.list is defined %}
            <div class="ui grid">
            {% for item in mycard.list %}
              <div
                class="five wide column"
                style="padding-bottom: 5px; padding-top: 5px;"
              >
                <div class="ui labeled mini button" tabindex="0">
                  <a class="ui {{ mycard.color }} mini button" href="{{ mycard.url }}/{{ item.id }}">
                    <i class="id card icon"></i> id
                  </a>
                  <a class="ui basic left pointing {{ mycard.color }} label" href="{{ value.link }}">{{ item.id }}</a>
                </div>
              </div>
              <div class="height wide column" style="padding-bottom: unset; padding-top: 5px;">{{ item.name }}</div>
              <div class="three wide column" style="padding-bottom: unset; padding-top: 5px;">{{ item.status | raw }}</div>
            {% endfor %}
            </div>
          {% endif %}
          {% if mycard.stat is defined %}
            <div class="center aligned">
              <span class="ui {{ mycard.color }} huge text">{{ mycard.stat }}</span>
            </div>
          {% endif %}
        </div>
        <div class="center aligned extra content" style="height: 42px;">
          {% if mycard.footer.enabled %}
            <a href="">View all</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{{ include('footer.html.twig') }}
