<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block js %}
    {% webpack_entry_js 'vendor' %}
  {% endblock %}
  {% block css %}
    {% webpack_entry_css 'vendor' %}
  {% endblock %}

  <title>{{ title }}</title>
</head>
<body class="loginbg">

  <div class="ui container" style="height: 100%">
    <div class="ui middle aligned center aligned grid" style="height: 100%">
      <div class="column">
        <div class="ui blue inverted segment">
          <form id="langform" action="{{ basePath }}/view/changelang" method="post">
            <span>{{ translation.language }}</span>
            <div class="ui floating dropdown blue right labeled search icon button">
              <i class="right world icon"></i>
              <span class="text"><i class="{{ data.currentLang }} flag"></i> {{ data.currentLang }}</span>
              <div class="menu">
                {% for key, country in data.lang %}
                  <div class="item" data-value="{{ key }}"><i class="{{ country }} flag"></i>{{ country }} [{{ key }}]</div>
                {% endfor %}
              </div>
            </div>
            <input type="hidden" id="langchoosen" name="langchoosen" value="">
            {% for key, val in data.csrf %}
              <input type="hidden" name="{{ key }}" value="{{ val }}">
            {% endfor %}
          </form>
        </div>

        <div class="ui placeholder segment">
          <div class="ui two column stackable center aligned grid">
            <div class="ui vertical divider">{{ translation.or }}</div>
            <div class="middle aligned row">
              <div class="column">
                <div class="ui icon header">
                  <i class="sign in alternate icon"></i>
                  <span data-cy="login-title">{{ translation.signin }}</span>
                </div>
                <form method="post" class="ui form">
                  <div class="field">
                    <label data-cy="login-login-label">{{ translation.login }}</label>
                    <input data-cy="login-login" type="text" name="login">
                  </div>
                  <div class="field">
                    <label data-cy="login-password-label">{{ translation.password }}</label>
                    <input data-cy="login-password" type="password" name="password">
                  </div>
                  <div>
                    {% for key, val in csrf %}
                      <input type="hidden" name="{{ key }}" value="{{ val }}">
                    {% endfor %}
                    <button data-cy="login-submit" class="ui primary button" type="submit">{{ translation.buttonsend }}</button>
                  </div>
                </form>
              </div>
              <div class="column">
                <div class="ui icon header">
                <i class="address card outline icon"></i>
                  <span data-cy="login-sso-label">{{ translation.ssotitle }}</span>
                </div>
                {% if sso|length == 0 %}
                  <div class="ui labeled icon button">
                    <i class="right pause icon"></i>
                    <span>{{ translation.ssodisabled }}</span>
                  </div>
                {% endif %}
                {% for item in sso %}
                  <a href="{{ basePath }}/view/login/sso/{{ item.id }}" data-cy="sso-{{ item.name }}">
                    <div class="ui labeled icon primary button" style="margin-bottom: 5px;">
                      <i class="right arrow icon"></i>
                      <span>{{ item.name }}</span>
                    </div>
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('.ui.dropdown')
      .dropdown({
        onChange: function(text, value, element)
        {
          $('#langchoosen').val(text);
          $('#langform').submit();
        }
      });
  </script>
</body>
</html>