{{ include('header.html.twig') }}
{{ include('user/headerSimple.html.twig') }}

<div class="ui internally celled grid">
  <div class="row">
    <div class="wide column">
      <div class="ui form segment">
        <div class="ui olive right ribbon label" style="text-transform: capitalize;margin-bottom: 10px;">
          Read {{ data.views }} times
        </div>
        <div class="ui olive dividing header">
          {{ data.title }}  
        </div>
        <span>{{ data.article | raw}}</span>
      </div>
    </div>
  </div>
</div>

{{ include('footer.html.twig') }}
