{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}

<table class="ui blue table">
  <tbody>
    <tr>
      <td>{{ translation.total }}</td>
      <td>{{ data.total }}</td>
      <td>{{ translation.total_new }}</td>
      <td>{{ data.total_new }}</td>
    </tr>
    <tr>
      <td>{{ translation.total_use }}</td>
      <td>{{ data.total_use }}</td>
      <td>{{ translation.total_out }}</td>
      <td>{{ data.total_out }}</td>
    </tr>
  </tbody>
</table>

<table class="ui blue table">
  <thead>
    <tr>
      <th colspan="5">{{ translation.cartridges_use }}</th>
    </tr>
    <tr>
      <th>{{ translation.status }}</th>
      <th>{{ translation.date_add }}</th>
      <th>{{ translation.date_use }}</th>
      <th>{{ translation.use_on }}</th>
    </tr>
  </thead>
  <tbody>
    {% for key,cartridge in data.cartridges_use %}
      <tr>
        <td>{{ cartridge.status }}</td>
        <td>{{ cartridge.date_add }}</td>
        <td>{{ cartridge.date_use }}</td>
        <td>
          {% if cartridge.url != '' %}
              <a href="{{ cartridge.url }}">{{ cartridge.use_on }}</a>
          {% else %}
              {{ cartridge.use_on }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<table class="ui blue table">
  <thead>
    <tr>
      <th colspan="5">{{ translation.cartridges_out }}</th>
    </tr>
    <tr>
      <th>{{ translation.status }}</th>
      <th>{{ translation.date_add }}</th>
      <th>{{ translation.date_use }}</th>
      <th>{{ translation.date_end }}</th>
      <th>{{ translation.use_on }}</th>
      <th>{{ translation.printer_counter }}</th>
    </tr>
  </thead>
  <tbody>
    {% for key,cartridge in data.cartridges_out %}
      <tr>
        <td>{{ cartridge.status }}</td>
        <td>{{ cartridge.date_add }}</td>
        <td>{{ cartridge.date_use }}</td>
        <td>{{ cartridge.date_end }}</td>
        <td>
          {% if cartridge.url != '' %}
              <a href="{{ cartridge.url }}">{{ cartridge.use_on }}</a>
          {% else %}
              {{ cartridge.use_on }}
          {% endif %}
        </td>
        <td>{{ cartridge.printer_counter }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{{ include('footer.html.twig') }}
