{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}

<table class="ui blue table">
  <thead>
    <tr>
      <th>{{ translation.name }}</th>
      <th>{{ translation.entity }}</th>
      <th>{{ translation.user }}</th>
      <th>{{ translation.group }}</th>
      <th>{{ translation.knowbaseitemcategory }}</th>
      <th>{{ translation.visible_simplified_interface }}</th>
      <th>{{ translation.visible_incident }}</th>
      <th>{{ translation.visible_request }}</th>
      <th>{{ translation.visible_problem }}</th>
      <th>{{ translation.visible_change }}</th>
      <th>{{ translation.template_request }}</th>
      <th>{{ translation.template_incident }}</th>
      <th>{{ translation.template_change }}</th>
      <th>{{ translation.template_problem }}</th>
      <th>{{ translation.comment }}</th>
    </tr>
  </thead>
  <tbody>
    {% for categorie in data.categories|sort((a, b) => a.categorie.name|lower <=> b.categorie.name|lower) %}
      <tr>
        <td>
          {% if categorie.url != '' %}
              <a href="{{ categorie.url }}">{{ categorie.name }}</a>
          {% else %}
              {{ categorie.name }}
          {% endif %}
        </td>
        <td>
          {% if categorie.entity_url != '' %}
              <a href="{{ categorie.entity_url }}">{{ categorie.entity }}</a>
          {% else %}
              {{ categorie.entity }}
          {% endif %}
        </td>
        <td>
          {% if categorie.user_url != '' %}
              <a href="{{ categorie.user_url }}">{{ categorie.user }}</a>
          {% else %}
              {{ categorie.user }}
          {% endif %}
        </td>
        <td>
          {% if categorie.group_url != '' %}
              <a href="{{ categorie.group_url }}">{{ categorie.group }}</a>
          {% else %}
              {{ categorie.group }}
          {% endif %}
        </td>
        <td>
          {% if categorie.knowbaseitemcategory_url != '' %}
              <a href="{{ categorie.knowbaseitemcategory_url }}">{{ categorie.knowbaseitemcategory }}</a>
          {% else %}
              {{ categorie.knowbaseitemcategory }}
          {% endif %}
        </td>
        {% if categorie.visible_simplified_interface %}
          <td class="positive">
          <i class="check circle outline icon"></i>
        {% else %}
          <td class="negative">
          <i class="times circle outline icon"></i>
        {% endif %}
        {{ categorie.visible_simplified_interface_val }}
        </td>
          {% if categorie.visible_incident %}
          <td class="positive">
          <i class="check circle outline icon"></i>
        {% else %}
          <td class="negative">
          <i class="times circle outline icon"></i>
        {% endif %}
        {{ categorie.visible_incident_val }}
        </td>
          {% if categorie.visible_request %}
          <td class="positive">
          <i class="check circle outline icon"></i>
        {% else %}
          <td class="negative">
          <i class="times circle outline icon"></i>
        {% endif %}
        {{ categorie.visible_request_val }}
        </td>
          {% if categorie.visible_problem %}
          <td class="positive">
          <i class="check circle outline icon"></i>
        {% else %}
          <td class="negative">
          <i class="times circle outline icon"></i>
        {% endif %}
        {{ categorie.visible_problem_val }}
        </td>
          {% if categorie.visible_change %}
          <td class="positive">
          <i class="check circle outline icon"></i>
        {% else %}
          <td class="negative">
          <i class="times circle outline icon"></i>
        {% endif %}
        {{ categorie.visible_change_val }}
        </td>
        <td>
          {% if categorie.template_request_url != '' %}
              <a href="{{ categorie.template_request_url }}">{{ categorie.template_request }}</a>
          {% else %}
              {{ categorie.template_request }}
          {% endif %}
        </td>
        <td>
          {% if categorie.template_incident_url != '' %}
              <a href="{{ categorie.template_incident_url }}">{{ categorie.template_incident }}</a>
          {% else %}
              {{ categorie.template_incident }}
          {% endif %}
        </td>
        <td>
          {% if categorie.template_change_url != '' %}
              <a href="{{ categorie.template_change_url }}">{{ categorie.template_change }}</a>
          {% else %}
              {{ categorie.template_change }}
          {% endif %}
        </td>
        <td>
          {% if categorie.template_problem_url != '' %}
              <a href="{{ categorie.template_problem_url }}">{{ categorie.template_problem }}</a>
          {% else %}
              {{ categorie.template_problem }}
          {% endif %}
        </td>
        <td>{{ categorie.comment }}</td>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{{ include('footer.html.twig') }}
