{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}

<div class="ui stackable cards">
  {% for certificate in data.certificates|sort((a, b) => a.certificate.name|lower <=> b.certificate.name|lower) %}
    <div class="ui card">
      <div class="content">
        <div class="header"><i class="scroll icon"></i>{{ certificate.name }}</div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.entity }}</a>
              <div class="description">
                {% if certificate.entity_url != '' %}
                    <a href="{{ certificate.entity_url }}">{{ certificate.entity }}</a>
                {% else %}
                    {{ certificate.entity }}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.type }}</a>
              <div class="description">
                {% if certificate.type_url != '' %}
                    <a href="{{ certificate.type_url }}">{{ certificate.type }}</a>
                {% else %}
                    {{ certificate.type }}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.dns_name }}</a>
              <div class="description">{{ certificate.dns_name }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.dns_suffix }}</a>
              <div class="description">{{ certificate.dns_suffix }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.created_at }}</a>
              <div class="description">{{ certificate.created_at }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.date_expiration }}</a>
              <div class="description" {% if certificate.alert_expiration %}style="background-color: #f27960;"{% endif %}>{{ certificate.date_expiration }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.status }}</a>
              <div class="description">
                {% if certificate.state_url != '' %}
                    <a href="{{ certificate.state_url }}">{{ certificate.state }}</a>
                {% else %}
                    {{ certificate.state }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{{ include('footer.html.twig') }}
