{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}



<div class="ui stackable cards">
  {% for firmware in data.firmwares|sort((a, b) => a.firmware.name|lower <=> b.firmware.name|lower) %}
    <div class="ui {{ firmware.color }} card">
      <div class="content">
        <div class="header">{{ firmware.name }}</div>
        <div class="meta"><span class="ui {{ firmware.color }} text">{{ translation.firmware }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.manufacturer }}</a>
              <div class="description">{{ firmware.manufacturer }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.type }}</a>
              <div class="description">{{ firmware.type }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.version }}</a>
              <div class="description">{{ firmware.version }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.install_date }}</a>
              <div class="description">{{ firmware.date }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ firmware.location }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% for processor in data.processors|sort((a, b) => a.processor.name|lower <=> b.processor.name|lower) %}
    <div class="ui {{ processor.color }} card">
      <div class="content">
        <div class="header">{{ processor.name }}</div>
        <div class="meta"><span class="ui {{ processor.color }} text">{{ translation.processor }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.manufacturer }}</a>
              <div class="description">{{ processor.manufacturer }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.frequence_mhz }}</a>
              <div class="description">{{ processor.frequency }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.nbcores }}</a>
              <div class="description">{{ processor.nbcores }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.nbthreads }}</a>
              <div class="description">{{ processor.nbthreads }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% for memory in data.memories|sort((a, b) => a.memory.name|lower <=> b.memory.name|lower) %}
    <div class="ui {{ memory.color }} card">
      <div class="content">
        <div class="header">{{ memory.name }}</div>
        <div class="meta"><span class="ui {{ memory.color }} text">{{ translation.memory }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.manufacturer }}</a>
              <div class="description">{{ memory.manufacturer }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.type }}</a>
              <div class="description">{{ memory.type }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.frequence }}</a>
              <div class="description">{{ memory.frequence }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.size }}</a>
              <div class="description">{{ memory.size }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.serial }}</a>
              <div class="description">{{ memory.serial }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ memory.location }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.busID }}</a>
              <div class="description">{{ memory.busID }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% for harddrive in data.harddrives|sort((a, b) => a.harddrive.name|lower <=> b.harddrive.name|lower) %}
    <div class="ui {{ harddrive.color }} card">
      <div class="content">
        <div class="header">{{ harddrive.name }}</div>
        <div class="meta"><span class="ui {{ harddrive.color }} text">{{ translation.harddrive }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.manufacturer }}</a>
              <div class="description">{{ harddrive.manufacturer }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.rpm }}</a>
              <div class="description">{{ harddrive.rpm }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.cache }}</a>
              <div class="description">{{ harddrive.cache }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.interface }}</a>
              <div class="description">{{ harddrive.interface }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.capacity }}</a>
              <div class="description">{{ harddrive.capacity }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ harddrive.location }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% for battery in data.batteries|sort((a, b) => a.battery.name|lower <=> b.battery.name|lower) %}
    <div class="ui {{ battery.color }} card">
      <div class="content">
        <div class="header">{{ battery.name }}</div>
        <div class="meta"><span class="ui {{ battery.color }} text">{{ translation.battery }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.manufacturer }}</a>
              <div class="description">{{ battery.manufacturer }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.type }}</a>
              <div class="description">{{ battery.type }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.voltage_mv }}</a>
              <div class="description">{{ battery.voltage }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.capacity_mwh }}</a>
              <div class="description">{{ battery.capacity }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.serial }}</a>
              <div class="description">{{ battery.serial }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ battery.location }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.manufacturing_date }}</a>
              <div class="description">{{ battery.manufacturing_date }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% for soundcard in data.soundcards|sort((a, b) => a.soundcard.name|lower <=> b.soundcard.name|lower) %}
    <div class="ui {{ soundcard.color }} card">
      <div class="content">
        <div class="header">{{ soundcard.name }}</div>
        <div class="meta"><span class="ui {{ soundcard.color }} text">{{ translation.soundcard }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.manufacturer }}</a>
              <div class="description">{{ soundcard.manufacturer }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.type }}</a>
              <div class="description">{{ soundcard.type }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ soundcard.location }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% for controller in data.controllers|sort((a, b) => a.controller.name|lower <=> b.controller.name|lower) %}
    <div class="ui {{ controller.color }} card">
      <div class="content">
        <div class="header">{{ controller.name }}</div>
        <div class="meta"><span class="ui {{ controller.color }} text">{{ translation.controller }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.manufacturer }}</a>
              <div class="description">{{ controller.manufacturer }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.interface }}</a>
              <div class="description">{{ controller.interface }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ controller.location }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% for powersupply in data.powersupplies|sort((a, b) => a.powersupply.name|lower <=> b.powersupply.name|lower) %}
    <div class="ui {{ powersupply.color }} card">
      <div class="content">
        <div class="header">{{ powersupply.name }}</div>
        <div class="meta"><span class="ui {{ powersupply.color }} text">{{ translation.powersupply }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ powersupply.location }}</div>
            </div>
          </div>
          {% if powersupply.documents|length > 0%}
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.documents }}</a>
              {% for document in powersupply.documents %}
                <div class="description">
                  {% if document.url != '' %}
                      <a href="{{ document.url }}">{{ document.name }}</a>
                  {% else %}
                      {{ document.name }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

  {% for sensor in data.sensors|sort((a, b) => a.sensor.name|lower <=> b.sensor.name|lower) %}
    <div class="ui {{ sensor.color }} card">
      <div class="content">
        <div class="header">{{ sensor.name }}</div>
        <div class="meta"><span class="ui {{ sensor.color }} text">{{ translation.sensor }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.manufacturer }}</a>
              <div class="description">{{ sensor.manufacturer }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ sensor.location }}</div>
            </div>
          </div>
          {% if sensor.documents|length > 0%}
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.documents }}</a>
              {% for document in sensor.documents %}
                <div class="description">
                  {% if document.url != '' %}
                      <a href="{{ document.url }}">{{ document.name }}</a>
                  {% else %}
                      {{ document.name }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

  {% for devicepci in data.devicepcis|sort((a, b) => a.devicepci.name|lower <=> b.devicepci.name|lower) %}
    <div class="ui {{ devicepci.color }} card">
      <div class="content">
        <div class="header">{{ devicepci.name }}</div>
        <div class="meta"><span class="ui {{ devicepci.color }} text">{{ translation.devicepci }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ devicepci.location }}</div>
            </div>
          </div>
          {% if devicepci.documents|length > 0%}
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.documents }}</a>
              {% for document in devicepci.documents %}
                <div class="description">
                  {% if document.url != '' %}
                      <a href="{{ document.url }}">{{ document.name }}</a>
                  {% else %}
                      {{ document.name }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

  {% for devicegeneric in data.devicegenerics|sort((a, b) => a.devicegeneric.name|lower <=> b.devicegeneric.name|lower) %}
    <div class="ui {{ devicegeneric.color }} card">
      <div class="content">
        <div class="header">{{ devicegeneric.name }}</div>
        <div class="meta"><span class="ui {{ devicegeneric.color }} text">{{ translation.devicegeneric }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ devicegeneric.location }}</div>
            </div>
          </div>
          {% if devicegeneric.documents|length > 0%}
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.documents }}</a>
              {% for document in devicegeneric.documents %}
                <div class="description">
                  {% if document.url != '' %}
                      <a href="{{ document.url }}">{{ document.name }}</a>
                  {% else %}
                      {{ document.name }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

  {% for devicenetworkcard in data.devicenetworkcards|sort((a, b) => a.devicenetworkcard.name|lower <=> b.devicenetworkcard.name|lower) %}
    <div class="ui {{ devicenetworkcard.color }} card">
      <div class="content">
        <div class="header">{{ devicenetworkcard.name }}</div>
        <div class="meta"><span class="ui {{ devicenetworkcard.color }} text">{{ translation.devicenetworkcard }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ devicenetworkcard.location }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.mac_address }}</a>
              <div class="description">{{ devicenetworkcard.mac_address }}</div>
            </div>
          </div>
          {% if devicenetworkcard.documents|length > 0%}
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.documents }}</a>
              {% for document in devicenetworkcard.documents %}
                <div class="description">
                  {% if document.url != '' %}
                      <a href="{{ document.url }}">{{ document.name }}</a>
                  {% else %}
                      {{ document.name }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

  {% for devicesimcard in data.devicesimcards|sort((a, b) => a.devicesimcard.name|lower <=> b.devicesimcard.name|lower) %}
    <div class="ui {{ devicesimcard.color }} card">
      <div class="content">
        <div class="header">{{ devicesimcard.name }}</div>
        <div class="meta"><span class="ui {{ devicesimcard.color }} text">{{ translation.devicesimcard }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ devicesimcard.location }}</div>
            </div>
          </div>
          {% if devicesimcard.documents|length > 0%}
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.documents }}</a>
              {% for document in devicesimcard.documents %}
                <div class="description">
                  {% if document.url != '' %}
                      <a href="{{ document.url }}">{{ document.name }}</a>
                  {% else %}
                      {{ document.name }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

  {% for devicemotherboard in data.devicemotherboards|sort((a, b) => a.devicemotherboard.name|lower <=> b.devicemotherboard.name|lower) %}
    <div class="ui {{ devicemotherboard.color }} card">
      <div class="content">
        <div class="header">{{ devicemotherboard.name }}</div>
        <div class="meta"><span class="ui {{ devicemotherboard.color }} text">{{ translation.devicemotherboard }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ devicemotherboard.location }}</div>
            </div>
          </div>
          {% if devicemotherboard.documents|length > 0%}
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.documents }}</a>
              {% for document in devicemotherboard.documents %}
                <div class="description">
                  {% if document.url != '' %}
                      <a href="{{ document.url }}">{{ document.name }}</a>
                  {% else %}
                      {{ document.name }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

  {% for devicecase in data.devicecases|sort((a, b) => a.devicecase.name|lower <=> b.devicecase.name|lower) %}
    <div class="ui {{ devicecase.color }} card">
      <div class="content">
        <div class="header">{{ devicecase.name }}</div>
        <div class="meta"><span class="ui {{ devicecase.color }} text">{{ translation.devicecase }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.manufacturer }}</a>
              <div class="description">{{ devicecase.manufacturer }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ devicecase.location }}</div>
            </div>
          </div>
          {% if devicecase.documents|length > 0%}
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.documents }}</a>
              {% for document in devicecase.documents %}
                <div class="description">
                  {% if document.url != '' %}
                      <a href="{{ document.url }}">{{ document.name }}</a>
                  {% else %}
                      {{ document.name }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

  {% for devicegraphiccard in data.devicegraphiccards|sort((a, b) => a.devicegraphiccard.name|lower <=> b.devicegraphiccard.name|lower) %}
    <div class="ui {{ devicegraphiccard.color }} card">
      <div class="content">
        <div class="header">{{ devicegraphiccard.name }}</div>
        <div class="meta"><span class="ui {{ devicegraphiccard.color }} text">{{ translation.devicegraphiccard }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.manufacturer }}</a>
              <div class="description">{{ devicegraphiccard.manufacturer }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.interface }}</a>
              <div class="description">{{ devicegraphiccard.interface }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.chipset }}</a>
              <div class="description">{{ devicegraphiccard.chipset }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.memory_mio }}</a>
              <div class="description">{{ devicegraphiccard.memory }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ devicegraphiccard.location }}</div>
            </div>
          </div>
          {% if devicegraphiccard.documents|length > 0%}
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.documents }}</a>
              {% for document in devicegraphiccard.documents %}
                <div class="description">
                  {% if document.url != '' %}
                      <a href="{{ document.url }}">{{ document.name }}</a>
                  {% else %}
                      {{ document.name }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

  {% for devicedrive in data.devicedrives|sort((a, b) => a.devicedrive.name|lower <=> b.devicedrive.name|lower) %}
    <div class="ui {{ devicedrive.color }} card">
      <div class="content">
        <div class="header">{{ devicedrive.name }}</div>
        <div class="meta"><span class="ui {{ devicedrive.color }} text">{{ translation.devicedrive }}</span></div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.manufacturer }}</a>
              <div class="description">{{ devicedrive.manufacturer }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.write }}</a>
              <div class="description">
                {% if devicedrive.write %}
                  <div style="box-shadow: 0 0 0 #a3c293 inset;background: #fcfff5;color: #2c662d;">
                    <i class="check circle outline icon"></i>
                    Yes
                  </div>
                {% else %}
                  <div style="box-shadow: 0 0 0 #e0b4b4 inset;background: #fff6f6;color: #9f3a38;">
                    <i class="times circle outline icon"></i>
                    No
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.speed }}</a>
              <div class="description">{{ devicedrive.speed }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.interface }}</a>
              <div class="description">{{ devicedrive.interface }}</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.location }}</a>
              <div class="description">{{ devicedrive.location }}</div>
            </div>
          </div>
          {% if devicedrive.documents|length > 0%}
          <div class="item">
            <div class="content">
              <a class="header">{{ translation.documents }}</a>
              {% for document in devicedrive.documents %}
                <div class="description">
                  {% if document.url != '' %}
                      <a href="{{ document.url }}">{{ document.name }}</a>
                  {% else %}
                      {{ document.name }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{{ include('footer.html.twig') }}
