{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}

<table class="ui blue table">
  <thead>
    <tr>
      <th>{{ translation.name }}</th>
      <th>{{ translation.entity }}</th>
      <th>{{ translation.number }}</th>
      <th>{{ translation.type }}</th>
      {% if data.show_suppliers %}
        <th>{{ translation.supplier }}</th>
      {% endif %}
      <th>{{ translation.start_date }}</th>
      <th>{{ translation.initial_contract_period }}</th>
    </tr>
  </thead>
  <tbody>
    {% for contract in data.contracts %}
      <tr>
        <td>
          {% if contract.url != '' %}
              <a href="{{ contract.url }}">{{ contract.name }}</a>
          {% else %}
              {{ contract.name }}
          {% endif %}
        </td>
        <td>{{ contract.entity }}</td>
        <td>{{ contract.number }}</td>
        <td>{{ contract.type }}</td>
        {% if data.show_suppliers %}
          <td>
            {% for supplier in contract.suppliers %}
              <p>{{ supplier.name }}</p>
            {% endfor %}
          </td>
        {% endif %}
        <td>{{ contract.start_date }}</td>
        <td>{{ contract.initial_contract_period|raw }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{{ include('footer.html.twig') }}
