{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}

<form action="{{ basePath }}/view/infocoms" method="post" class="ui form">
  <input type="hidden" name="item_type" value="{{ data.item_type }}">
  <input type="hidden" name="item_id" value="{{ data.item_id }}">
  <button class="ui button right floated" type="submit">{{ translation.savebutton }}</button>
  <div class="ui internally celled grid">
    <div class="row">
      <div class="column">
        {% for item in data.fields %}
          {{ include('fields.html.twig') }}
        {% endfor %}
      </div>
    </div>
  </div>
  <button class="ui button right floated" type="submit">{{ translation.savebutton }}</button>
  {% for key, val in data.csrf %}
    <input type="hidden" name="{{ key }}" value="{{ val }}">
  {% endfor %}
</form>

{{ include('footer.html.twig') }}
