{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}


{% if data.show == 'computer' %}
  <table class="ui blue table">
    <thead>
      <tr>
        <th>{{ translation.antivirus }}</th>
        <th>{{ translation.manufacturer }}</th>
        <th>{{ translation.antivirus_version }}</th>
        <th>{{ translation.signature }}</th>
        <th>{{ translation.is_dynamic }}</th>
        <th>{{ translation.is_active }}</th>
        <th>{{ translation.is_uptodate }}</th>
      </tr>
    </thead>
    <tbody>
      {% for antivirus in data.antiviruses|sort((a, b) => a.antivirus.name|lower <=> b.antivirus.name|lower) %}
        <tr>
          <td>
            {% if antivirus.antivirus_url != '' %}
                <a href="{{ antivirus.antivirus_url }}">{{ antivirus.name }}</a>
            {% else %}
                {{ antivirus.name }}
            {% endif %}
          </td>
          <td>
            {% if antivirus.manufacturer_url != '' %}
                <a href="{{ antivirus.manufacturer_url }}">{{ antivirus.manufacturer }}</a>
            {% else %}
                {{ antivirus.manufacturer }}
            {% endif %}
          </td>
          <td>{{ antivirus.version }}</td>
          <td>{{ antivirus.signature }}</td>
          {% if antivirus.is_dynamic %}
            <td class="positive">
            <i class="check circle outline icon"></i>
            {{ antivirus.is_dynamic_val }}
          {% else %}
            <td class="negative">
            <i class="times circle outline icon"></i>
            {{ antivirus.is_dynamic_val }}
          {% endif %}
          </td>
          {% if antivirus.is_active %}
            <td class="positive">
            <i class="check circle outline icon"></i>
            {{ antivirus.is_active_val }}
          {% else %}
            <td class="negative">
            <i class="times circle outline icon"></i>
            {{ antivirus.is_active_val }}
          {% endif %}
          </td>
          {% if not antivirus.is_uptodate %}
            <td class="positive">
            <i class="check circle outline icon"></i>
            {{ antivirus.is_uptodate_val }}
          {% else %}
            <td class="negative">
            <i class="times circle outline icon"></i>
            {{ antivirus.is_uptodate_val }}
          {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<table class="ui blue table">
  <thead>
    <tr>
      <th>{{ translation.software }}</th>
      <th>{{ translation.version }}</th>
    </tr>
  </thead>
  <tbody>
    {% for softwareversion in data.softwares|sort((a, b) => a.software.name|lower <=> b.software.name|lower) %}
      <tr>
        <td>
          {% if softwareversion.software.url != '' %}
              <a href="{{ softwareversion.software.url }}">{{ softwareversion.software.name }}</a>
          {% else %}
            {{ softwareversion.software.name }}
          {% endif %}
        </td>
        <td>
          {% if softwareversion.url != '' %}
              <a href="{{ softwareversion.url }}">{{ softwareversion.name }}</a>
          {% else %}
              {{ softwareversion.name }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{{ include('footer.html.twig') }}
