{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}

<div class="ui stackable cards">
    {% for virtualmachine in data.virtualmachines|sort((a, b) => a.virtualmachine.name|lower <=> b.virtualmachine.name|lower) %}
      <div class="ui card">
        <div class="content">
          <div class="header">{{ virtualmachine.name }}</div>
          <div class="meta">{{ virtualmachine.comment }}</div>
        </div>
        <div class="content">
          <div class="ui relaxed list">
            <div class="item">
              <div class="content">
                <a class="header">{{ translation.auto }}</a>
                <div class="description">
                  {% if virtualmachine.auto == 1 %}
                    <div style="box-shadow: 0 0 0 #a3c293 inset;background: #fcfff5;color: #2c662d;">
                      <i class="check circle outline icon"></i>
                      {{ virtualmachine.auto_val }}
                    </div>
                  {% else %}
                    <div style="box-shadow: 0 0 0 #e0b4b4 inset;background: #fff6f6;color: #9f3a38;">
                      <i class="times circle outline icon"></i>
                      {{ virtualmachine.auto_val }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">{{ translation.virtualmachinemodel }}</a>
                <div class="description">
                  {% if virtualmachine.virtualmachinesystem_url != '' %}
                      <a href="{{ virtualmachine.virtualmachinesystem_url }}">{{ virtualmachine.virtualmachinesystem }}</a>
                  {% else %}
                      {{ virtualmachine.virtualmachinesystem }}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">{{ translation.virtualmachinesystem }}</a>
                <div class="description">
                  {% if virtualmachine.virtualmachinemodel_url != '' %}
                      <a href="{{ virtualmachine.virtualmachinemodel_url }}">{{ virtualmachine.virtualmachinemodel }}</a>
                  {% else %}
                      {{ virtualmachine.virtualmachinemodel }}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">{{ translation.virtualmachinestate }}</a>
                <div class="description">
                  {% if virtualmachine.virtualmachinestate_url != '' %}
                      <a href="{{ virtualmachine.virtualmachinestate_url }}">{{ virtualmachine.virtualmachinestate }}</a>
                  {% else %}
                      {{ virtualmachine.virtualmachinestate }}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">{{ translation.uuid }}</a>
                <div class="description">{{ virtualmachine.uuid }}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">{{ translation.nb_proc }}</a>
                <div class="description">{{ virtualmachine.nb_proc }}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">{{ translation.memory }}</a>
                <div class="description">{{ virtualmachine.memory }}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">{{ translation.machine_host }}</a>
                <div class="description">{{ virtualmachine.machine_host }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{{ include('footer.html.twig') }}
